* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.wr {
  border: 5px solid crimson;
  padding: 10px;
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr 2fr 3fr 2fr;
  grid-template-rows: auto;
}

.child {
  background-color: darkblue;
  height: 300px;
  grid-column: 4;
}

.item {
  background-color: red;
  height: 100vh;
  grid-column: 1 / 4;
  grid-row: 1 / 10;
}

.item1 {
  display: flex;
  gap: 10px;
  color: white;
}

.item1-vd {
  width: 70%;
}
